<!-- -*- engine:go -*- -->
<div class="flex flex-row gap-4 place-content-center font-bold">
    {{- if .Paginator.HasPrev -}}
        <a href="{{- .Paginator.First.URL | absURL -}}" class="text-fc-orange">&lt&lt</a>
        <a href="{{- .Paginator.Prev.URL | absURL -}}" class="text-fc-orange">&lt</a>
    {{- end -}}
    <span class="text-fc-brown dark:text-gray-50">
        {{- .Paginator.PageNumber  -}}
    </span>
    {{- if .Paginator.HasNext -}}
        <a href="{{- .Paginator.Next.URL | absURL -}}" class="text-fc-orange">&gt</a>
        <a href="{{- .Paginator.Last.URL | absURL -}}" class="text-fc-orange">&gt&gt</a>
    {{- end -}}
</div>
