<!-- -*- engine:go -*- -->
<div class="flex flex-col lg:flex-row justify-between lg:items-center
            text-fc-brown dark:text-gray-50 font-bold">
    {{- if .PrevInSection -}}
        <a class="justify-self-start text-left
                  hover:text-fc-orange hover:underline" href="{{- .PrevInSection.Permalink -}}">
            {{- printf "← %s" .PrevInSection.Title -}}
        </a>
    {{- end -}}
    {{- if .NextInSection -}}
        <a class="justify-self-end text-right
                  hover:text-fc-orange hover:underline" href="{{- .NextInSection.Permalink -}}">
            {{- printf "%s →" .NextInSection.Title -}}
        </a>
    {{- end -}}
</div>
