<!-- -*- engine:go -*- -->
{{- $title := .Title -}}
{{- $url := .Permalink  -}}
<div class="flex flex-row items-start gap-2">
    {{- range .Site.Menus.share -}}
        <a class="flex flex-row place-content-center
                  rounded" style="background-color: {{- .Params.backgroundcolor -}}"
           href="{{- replace ( replace .Params.href "TITLE" $title ) "URL" $url | safeURL -}}">
            <img class="filter invert h-8 w-8 p-2" width="2" height="2" src="{{- .Params.icon | absURL -}}" alt={{- .Name -}}>
        </a>
    {{- end -}}
</div>
