<!-- -*- engine:go -*- -->
<div class="dark:bg-gray-800 shadow p-4 rounded-xl">
    <div>
        {{ partialCached "ext/newsletter.html" . }}
    </div>
    <div class="flex flex-col gap-4 place-items-center">
        <p class="font-bold">{{ .Site.Data.description.donation }}</p>
        <div class="flex flex-row gap-4 place-items-center">
            <a href="{{ .Site.Data.donation.patreon }}" class="primary-button bg-patreon">PATREON</a>
            <a href="{{ .Site.Data.donation.paypal }}" class="primary-button bg-paypal">PayPal</a>
        </div>
    </div>
</div>
