<!-- -*- engine:go -*- -->
<div class="flex flex-row gap-4 shadow group">
    <img src="{{- .Params.cover | absURL  -}}" alt="{{- .Title -}}" height="144" width="144"
         class="max-h-32 w-32 rounded-xl">
    <div class="flex flex-col gap-2">
        <a href="{{-  .Permalink -}}" class="text-xl font-bold text-ellipsis group-hover:text-fc-orange group-hover:underline">{{- .Title -}}</a>
        {{- partial "base/metadata.html" . -}}
        <p class="hidden lg:block lg:h-6 lg:text-ellipsis lg:overflow-hidden">{{- .Summary -}}</p>
    </div>
</div>
