<!-- -*- engine:go -*- -->
<div class="flex flex-col gap-4 group shadow-md rounded-xl py-2">
    <img class="justify-self-center w-full rounded-lg"
         width="640" height="360"
         src="{{- .Param "cover" | absURL -}}"
         alt="{{- .Title -}}">
    <audio class="h-8 place-self-center"
           controls src="{{ .Param "mp3" }}" type="audio/mpeg" preload="metadata"></audio>
    <a href="{{- .Permalink -}}" class="text-xl font-bold underline group-hover:text-fc-orange self-start px-2">
        {{- .Title -}}
    </a>
    {{- partial "base/metadata.html" . -}}
</div>
