<!-- -*- engine:go -*- -->
<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode -}}">
    {{- partial "base/head.html" . -}}
    <body>
        {{- partial "base/header.html" . -}}
        <main class="flex flex-col gap-8">
            {{- if or ( eq .Page.Type "magazines" ) ( eq .Page.Type "special" ) -}}
                <section class="grid gap-8 grid-cols-1 lg:grid-cols-3">
                    {{- range .Paginator.Pages -}}
                        {{- partial "card/magazine.html" . -}}
                    {{- end -}}
                </section>
            {{- else if eq .Page.Type "news" -}}
                <section class="grid gap-8 lg:grid-cols-2">
                    {{- range .Paginator.Pages -}}
                        {{- partial "card/news.html" . -}}
                    {{- end -}}
                </section>
            {{- else if eq .Page.Type "podcasts" -}}
                <section class="grid gap-8 grid-cols-1 lg:grid-cols-3">
                    {{- range .Paginator.Pages -}}
                        {{- partial "card/podcast.html" . -}}
                    {{- end -}}
                </section>
            {{- end -}}
            {{- partial "navigation/paginator.html" . -}}
        </main>
        {{- partialCached "base/footer.html" . -}}
        {{- partialCached "base/script.html" . -}}
    </body>
</html>
