<!-- -*- engine:go -*- -->
<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode -}}">
    {{- partial "base/head.html" . -}}
    <body>
        {{- partialCached "base/header.html" . -}}
        <main class="flex flex-col gap-8">
            <article class="flex flex-col place-self-center gap-4">
                <h1 class="text-2xl font-bold">{{- .Title -}}</h1>

                {{- partial "base/metadata.html" . -}}

                <img class="place-self-center rounded-xl"
                     width="640" height="360"
                     src="{{- .Param "cover" | absURL -}}" alt="{{- .Title -}}">

                {{- if eq .Section "podcasts" -}}
                    <audio class="h-8 place-self-center"
                           controls src="{{- .Param "mp3" -}}" type="audio/mpeg" preload="metadata">
                    </audio>
                {{- end  -}}

                {{- if and (ne .Section "news")  (ne .Section "special") -}}
                    {{- partial "base/download.html" . -}}
                {{- end -}}

                <div class="prose lg:prose-xl dark:prose-invert">
                    {{- .Content -}}
                </div>
            </article>

            {{- partial "navigation/prevnext.html" . -}}

            <aside class="flex flex-col gap-4">
                {{- partial "ext/share.html" . -}}
                {{- partial "base/tags.html" . -}}
            </aside>

            <aside class="place-self-center lg:w-2/5">
                {{- partial "ext/support.html" . -}}
            </aside>
        </main>
        {{- partialCached "base/footer.html" . -}}
        {{- partialCached "base/script.html" . -}}
    </body>
</html>
