<!-- -*- engine:go -*- -->
<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode -}}">
    {{- partial "base/head.html" . -}}
    <body>
        <main class="flex flex-col gap-4 mx-auto items-center justify-center lg:w-2/3">
            <a href="{{- .Site.Home.Permalink  -}}">
                <img class="mx-auto h-24 motion-safe:animate-spin"
                     src="{{- .Site.Params.logo | absURL -}}"
                     alt="Full Circle - The Independent Magazine For The Ubuntu Linux Community"
                >
            </a>
            <h1 class="text-xl font-bold text-center">Hey ... We can't find the page you are looking for!</h1>
            <p class="text-lg text-center">This is a serious issue. So we have hired five detective cats to search for the page. 🐈</p>
            <p>
            Do you want to go back <a class="underline" href="{{- .Site.Home.Permalink  -}}">home</a>?
            </p>
        </main>
        {{- partialCached "base/script.html" . -}}
    </body>
</html>
