<!-- -*- engine:go -*- -->
<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode -}}">
    {{- partial "base/head.html" . -}}
    <body>
        {{- partial "base/header.html" . -}}
        <main class="grid gap-8">
            {{- range first 1 ( where .Site.RegularPages "Section" "magazines" ) -}}
                <section class="lg:col-start-1 lg:col-span-1 lg:row-start-1 lg:row-span-1
                                flex flex-col gap-4 place-content-center">
                    <img class="w-full h-min lg:w-min rounded-xl"
                         width="640" height="360"
                         src="{{- .Param "cover" | absURL -}}"
                         alt="{{- .Title -}}">
                    <h1 class="text-xl text-center font-bold">{{- .Title -}}</h2>
                        <p class="text-justify text-lg">{{- .Summary -}}</p>
                        <div class="flex flex-col lg:flex-row gap-4 place-items-center place-content-center">
                            <a href="{{- .Param "epub" -}}" class="primary-button w-40 bg-fc-orange
                                     active:bg-fc-orange-active hover:bg-fc-orange-active" download>
                                {{- .Site.Data.label.downloadepub -}}
                            </a>
                            <a href="{{- .Param "pdf" -}}" class="primary-button w-40 bg-fc-orange
                                     active:bg-fc-orange-active hover:bg-fc-orange-active" download>
                                {{- .Site.Data.label.downloadpdf -}}
                            </a>
                            <a href="{{- .Permalink -}}" class="primary-button w-40 bg-fc-orange active:bg-fc-orange hover:bg-fc-orange-active">
                                {{- .Site.Data.label.readmore -}}
                            </a>
                        </div>
                </section>
            {{- end -}}

            <section class="lg:col-start-1 lg:col-span-2 lg:row-start-2 lg:row-span-1 lg:w-4/5 m-auto">
                <p class="text-lg">{{- .Site.Data.description.homehtmled | safeHTML -}}</p>
            </section>

            <section class="lg:col-start-1 lg:col-span-1 lg:row-start-3 lg:row-span-1 flex flex-col gap-4">
                {{- range first 6 .Site.RegularPages -}}
                    {{- partial "card/news.html" . -}}
                {{- end -}}
            </section>

            {{- range first 1 (where .Site.RegularPages "Section" "podcasts") -}}
                <section class="lg:col-start-2 lg:col-span-1 lg:row-start-1 lg:row-span-1
                                flex flex-col gap-4 place-items-center
                                bg-gray-50 dark:bg-gray-800
                                w-auto lg:w-3/4 p-4 shadow m-auto rounded-xl">
                    <img class="rounded-lg"
                         width="640" height="360"
                         src="{{- .Param "cover" | absURL -}}"
                         alt="{{- .Title -}}">
                    <h1 class="text-xl font-bold text-center">{{- .Title -}}</h1>
                    <audio class="col-start-1 col-span-2 row-start-3 row-span-1 h-6 justify-self-center"
                           controls src="{{- .Param "mp3" -}}" type="audio/mpeg" preload="metadata"></audio>
                    <div class="flex flex-row gap-4 place-items-center place-content-center">
                        <a href="{{- .Permalink -}}" class="primary-button bg-fc-brown activebg-fc-brownon hover:bg-fc-brownon">
                            {{- .Site.Data.label.moreinfo -}}</a>
                        <a href="{{- .Param "mp3" -}}" class="primary-button bg-fc-brown active:bg-fc-brownon hover:bg-fc-brownon" download>
                            {{- .Site.Data.label.download -}}</a>
                    </div>
                </section>
            {{- end -}}

            <aside class="lg:col-start-2 lg:col-span-1 lg:row-start-3 lg:row-span-1
                          lg:w-2/3 mx-auto mb-auto">
                {{- partial "ext/support.html" . -}}
            </aside>
        </main>
        {{- partialCached "base/footer.html" . -}}
        {{- partialCached "base/script.html" . -}}
    </body>
</html>
