@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Ubuntu;
    src: url("/fonts/Ubuntu-B.ttf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: Ubuntu;
    src: url("/fonts/Ubuntu-R.ttf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Ubuntu;
    src: url("/fonts/Ubuntu-RI.ttf");
    font-weight: 400;
    font-style: italic;
  }

  html {
    font-family: Ubuntu;
  }

  body {
    @apply flex flex-col gap-8;
    @apply h-screen;
    @apply bg-gray-100 text-gray-900;
    @apply dark:bg-gray-900;
    @apply dark:text-gray-100;
  }

  main {
    @apply m-4;
    @apply mt-16;
    @apply lg:mx-16;
    @apply flex-grow;
  }
}

@layer components {
  .primary-button {
    @apply text-center text-white text-lg font-bold w-32 h-8 shadow rounded;
    @apply flex justify-center items-center;
  }
}
