<!-- -*- engine:go -*- -->
<!DOCTYPE html>
<html>
    {{ partial "base/head.html" . }}
    <body>
        {{ partial "base/header.html" . }}
        <main>
            <section class="grid gap-8 lg:grid-cols-2">
                {{ range .Paginator.Pages }}
                    {{ partial "card/news.html" . }}
                {{ end }}
            </section>
            {{ partial "navigation/paginator.html" . }}
        </main>
        {{ partialCached "base/footer.html" . }}
        {{ partialCached "base/script.html" . }}
    </body>
</html>

