<!-- -*- engine:go -*- -->
<div class="flex flex-col lg:flex-row gap-4 place-items-center place-content-center">
    {{- if eq .Section "magazines" -}}
        <a href="{{- .Param "epub" -}}" class="primary-button w-40 bg-epub active:bg-epub-active hover:bg-epub-active" download>
            {{- .Site.Data.label.downloadepub -}}
        </a>
        <a href="{{- .Param "pdf" -}}" class="primary-button w-40 bg-pdf active:bg-pdf-active hover:bg-pdf-active" download>
            {{- .Site.Data.label.downloadpdf -}}
        </a>
    {{- else if eq .Section "podcasts" -}}
        <a href="{{- .Param "mp3" -}}" class="primary-button w-40 bg-mp3 active:bg-mp3-active hover:bg-mp3-active" download>
            {{- .Site.Data.label.downloadmp3 -}}
        </a>
        <a href="{{- .Param "spotify" -}}" target="_blank" class="primary-button w-40 bg-spotify active:bg-spotify-active hover:bg-spotify-active">
            {{- .Site.Data.label.listenspotify -}}
        </a>
    {{- end -}}
</div>
