<!-- -*- engine:go -*- -->
<footer class="w-full grid gap-2 dark:bg-gray-800 dark:text-white items-center justify-center pt-2
               lg:text-lg font-medium text-center shadow">
    <span>{{- .Site.Data.description.simpledesc -}}</span>
    <nav class="flex flex-row items-center justify-center">
        {{- range .Site.Menus.social -}}
            <a class="ml-2 mr-2" href="{{- .Params.href -}}" target="_blank">
                <img class="w-6 h-6 filter dark:invert" width="2" height="2" src="{{- .Params.icon | absURL -}}" alt={{- .Name -}}>
            </a>
        {{- end -}}
    </nav>
    <span>{{- replace  .Site.Copyright "YEAR" ( now.Format .Site.Params.copyrightdateformat ) -}}</span>
    <span>{{- .Site.Data.description.thirdpartycopyright | safeHTML -}}</span>
    <span>{{- replace  .Site.Params.lastchange "DATE" ( now.Format .Site.Params.lastchangedateformat ) -}}</span>
    {{ template "_internal/google_analytics.html" . }}
</footer>
