<!-- -*- engine:go -*- -->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{- $data := newScratch -}}

    {{- if .Page.IsHome -}}
        {{- $data.Set "title" .Site.Title  -}}
        {{- $data.Set "desc" .Site.Data.description.home -}}
        {{- $data.Set "image" ( .Site.Params.fulllogo | absURL ) -}}
        {{- $data.Set "alt" ( $data.Get "title" ) -}}
    {{- else if .Page.IsSection -}}
        {{- $data.Set "title" ( printf .Site.Params.headtitleformat .Page.Title .Site.Title ) -}}
        {{- $data.Set "desc" ( index .Site.Data.description .Page.Type ) -}}
        {{- $data.Set "image" ( .Site.Params.fulllogo | absURL ) -}}
        {{- $data.Set "alt" ( $data.Get "title" ) -}}
    {{- else  -}}
        {{- $data.Set "title" ( printf .Site.Params.headtitleformat .Page.Title .Site.Title ) -}}
        {{- $data.Set "desc" .Page.Summary -}}
        {{- $data.Set "image" ( .Page.Param "cover" | absURL ) -}}
        {{- $data.Set "alt" ( $data.Get "alt" ) -}}
    {{- end -}}

    <title>{{- $data.Get "title" -}}</title>
    <meta name="description" content="{{- $data.Get "desc" -}}"/>
    <meta property="og:title" content="{{- $data.Get "title" -}}"/>
    <meta property="og:description" content="{{- $data.Get "desc" -}}"/>
    <meta property="og:image" content="{{- $data.Get "image" -}}"/>
    <meta property="og:image:alt" content="{{- $data.Get "alt" -}}"/>
    <meta name="twitter:card" content="{{- $data.Get "image"  -}}"/>

    {{- partialCached "base/style.html" . -}}

    <meta property="og:locale" content="{{- .Site.LanguageCode -}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{- .Page.Permalink -}}"/>
    <link rel="canonical" href="{{- .Page.Permalink -}}"/>

    <meta name="keywords" content="{{- .Site.Params.keywords -}}"/>
    <meta name="author" content="{{- .Site.Params.author -}}"/>

    <link rel="icon" href="{{- ( .Site.Params.logoPng | absURL ) -}}">
    <link rel="apple-touch-icon" href="{{- ( .Site.Params.logoPng | absURL ) -}}">

    {{- range .AlternativeOutputFormats -}}
        {{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}}
    {{- end -}}

</head>
