<!-- -*- engine:go -*- -->
<header class="grid gap-2 items-center
               fixed top-0 z-10 shadow p-2
               w-full bg-white dark:bg-gray-900
               transition-all duration-300"
        id="header">
    <a class="col-start-1 col-span-1 row-start-1 row-span-1
              flex flex-row gap-2 items-center justify-start justify-self-start
              text-xl font-bold"
       href="{{- .Site.Home.Permalink  -}}">
        <img class="w-8 h-8" width="2" height="2" src="{{- .Site.Params.logo | absURL -}}" alt="{{- .Site.Title -}}">
        {{- .Site.Params.simpletitle -}}
    </a>
    <nav class="col-start-1 col-span-2 row-start-2 row-span-1
                lg:col-start-2 lg:col-span-2 lg:row-start-1 lg:row-span-1
                self-center hidden lg:block
                text-lg font-medium"
         id="sections">
        <ul class="flex flex-col flex-grow
                   justify-evenly items-center
                   lg:flex-row lg:justify-end lg:items-start">
            {{- range .Site.Menus.main -}}
                <li class="lg:mx-4">
                    <a class="hover:underline focus:underline" href="{{- .URL -}}">{{- .Name | title -}}</a>
                </li>
            {{- end -}}
        </ul>
    </nav>
    <button class="col-start-2 col-span-1 row-start-1 row-span-1
                   lg:hidden focus:outline-none
                   flex flex-row gap-2 justify-self-end content-center"
            id="menu"
            aria-label="Menu">
        <img class="dark:filter dark:invert w-6 h-6" width="2" height="2" src="{{- .Site.Params.menuicon | absURL -}}" alt="Navigation menu">
    </button>
</header>
