<!-- -*- engine:go -*- -->
<div class="flex flex-row flex-wrap gap-2">
    {{- with .Param "tags" -}}
        {{- range $tag := . -}}
            {{- with $.Site.GetPage (printf "%s/%s" "tags" $tag) -}}
                <a class="bg-gray-400 italic hover:underline px-1 rounded text-white" href="{{- .Permalink -}}">{{- $tag -}}</a>
            {{- end -}}
        {{- end -}}
    {{- end -}}
</div>
