<!-- -*- engine:go -*- -->
<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode -}}">
    {{- partial "base/head.html" . -}}
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.basic.min.js"></script>
    <body>
        {{- partial "base/header.html" . -}}
        <main class="flex flex-col gap-4">
            <input id="search" type="text" disabled placeholder="Loading..."
                   class="h-10 w-9/12 lg:w-3/5 shadow rounded p-2 place-self-center
                       bg-gray-50 dark:bg-gray-700">

            <template id="tresult">
                <div class="flex flex-row gap-4 shadow group">
                    <img src="" alt="" height="144" width="144"
                         class="h-24 w-32 rounded-xl">
                    <div class="flex flex-col gap-2">
                        <a href="" class="text-xl font-bold text-ellipsis group-hover:text-fc-orange group-hover:underline"></a>
                        <p class="hidden lg:block lg:h-6 lg:text-ellipsis lg:overflow-hidden"></p>
                    </div>
                </div>
            </template>

            <div id="results" class="grid lg:grid-cols-2 gap-4">
            </div>

        </main>
        <script type="module" src="{{- "js/search.js" | absURL -}}"></script>
        {{- partialCached "base/footer.html" . -}}
        {{- partialCached "base/script.html" . -}}
    </body>
</html>
